body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa-quora-square:before {
  content: '\f059'
}

.fa-email-square:before {
  content: '\f199'
}

.fa-google-scholar-square:before {
  content: '\f02d'
}
