body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa-quora-square:before {
  content: '\f059'
}

.fa-email-square:before {
  content: '\f199'
}

.fa-google-scholar-square:before {
  content: '\f14c'
}

/* Offset anchors from header */
.toclink:before {
  display: block;
  content: "";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}
